.App {
    text-align: center;
  }
  
  body {
    margin: 0;
    padding: 0;
  }
  .event-app {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 520px;
    min-height: 600px;
    background: #161A2B;
    text-align: center;
    margin: 128px auto;
    border-radius: 10px;
    padding-bottom: 32px;
  }
  h1 {
    margin: 32px 0;
    color: rgb(20, 20, 20);
    font-size: 24px;
  }
  .complete {
    text-decoration: line-through;
    opacity: 0.4;
  }
  .event-form {
    margin-bottom: 32px;
  }
  .event-input {
    padding: 14px 32px 14px 16px;
    border-radius: 4px 0 0 4px;
    border: 2px solid #240cff;
    outline: none;
    width: 320px;
    background:rgb(244, 244, 247);
    color: rgb(17, 16, 16);
  }
  .event-input::placeholder {
    color: #0a0107;
  }
  .event-button {
    padding: 16px;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    outline: none;
    background: linear-gradient(
      90deg,
      rgba(93, 12, 255, 1) 0%,
      rgb(10, 191, 236) 100%
    );
    color: rgb(253, 251, 251);
    text-transform: capitalize;
  }
  .event-input.edit {
    border: 2px solid #0a0a0a;
  }
  .event-button.edit {
    background: linear-gradient(
      90deg,
      rgba(5, 5, 5) 0%,
      rgb(5, 5, 5) 100%
    );
    padding: 16px 22px;
  }
  .event-container {
    display: flex;
    flex-direction: row;
    position: relative;
  }
  .event-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 4px auto;
    color: rgb(3, 3, 3);
    background: linear-gradient(
      90deg,
      rgb(88, 241, 101) 0%,
      rgb(69, 163, 83) 100%
    );
    padding: 16px;
    border-radius: 5px;
    width: 90%;
  }
  .event-row:nth-child(4n + 1) {
    background: linear-gradient(
      90deg,
      rgba(93, 12, 255, 1) 0%,
      rgba(155, 0, 250, 1) 100%
    );
  }
  .event-row:nth-child(4n + 2) {
    background: linear-gradient(
      90deg,
      rgb(130, 247, 155) 0%,
      rgb(71, 226, 57) 100%
    );
  }
  .event-row:nth-child(4n + 3) {
    background: linear-gradient(
      90deg,
      rgb(20, 94, 255) 0%,
      rgb(21, 17, 255) 100%
    );
  }

  .icons {
    display: flex;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
  }
  .delete-icon {
    margin-right: 5px;
    color: rgb(10, 10, 10);
  }
  .edit-icon {
    color: rgb(2, 2, 2);
  }

  .marker-btn {
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .marker-btn img {
    width: 25px;
    height: 25px;
  }

