
		<main>
			<H2>Upcoming events</H2>
			<h1>Hi <%= name % ,find buddies and enjoy a game golf </h1>
           <form action="/logout?_method=DELETE" method="POST">
           <button type="submit">Log Out</button>
           </form>
		</main>

 


